



p.break {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    border-top: thin solid silver;
    color: gray;
}

tei-byline {
    display: inline;
    text-align: center;
}

td {

    width: 33em;
    text-align: left;

}


tei-closer {
    display: block;
}

tei-closer > tei-salute {
    display: block;
}

tei-closer > tei-signed {
    display: block;
    text-align: right;
}

tei-div1, tei-div2, tei-div3 {
    display: block;
}



tei-div1 > tei-head {
    display: block;
    font-size: 140%;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 1em;
    text-align: center;

}





tei-div2 > tei-head {
    display: block;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

}


tei-div1 {
    
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
}

#SCORES2 {
    border-bottom: none;
    padding-bottom: 0;
    
}


tei-div2[scores_by_act] {
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
}


tei-div[type = dedication] > tei-lg {
    margin: auto;
    text-align: center;
}

tei-docauthor {
    display: inline;
    text-align: center;
}

tei-docauthor > tei-name {
    display: block;
    font-size: 2em;
}

tei-docimprint {
    display: block;
    margin-top: 10em;
    text-align: center;
}

tei-doctitle > tei-titlepart {
    display: block;
    text-align: center;
}

tei-doctitle > tei-titlepart[type = main] {
    font-size: 3em;
}

tei-doctitle > tei-titlepart[type = subtitle] {
    font-size: 2em;
    padding: .5em;
}
tei-emph[rend = bold] {
    font-weight: bold;
}

tei-figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

tei-figure > tei-p {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



tei-hi[rend = italics] {
    font-style: italic;
}


tei-hi[rend = bold] {
    font-weight: bold;
}



tei-l {
    display: block;
    font-style: italic;

}

tei-list[type = simple] {
    list-style-type: none;
}

tei-list[type = simple] > tei-item {
    display: list-item;
}

tei-p {

    display: inline;
    line-height: 1.8;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
    padding-bottom: 1em;
}


tei-set {
    
    display: none;
}


tei-sp {
    display: block;
    padding-bottom: 1em;


}

tei-speaker {
    display: inline;
    font-weight: bold;

}

tei-stage {
    display: block;
    padding-bottom: 1em;
}



tei-tei {
    /*   font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
    font-size: 16pt;
    

}
tei-text {
    display: block;
    width: 30em;
    margin: auto;
    padding: 1em;
    border-style: solid;
    background-color: #f2f2f2;
}

tei-titlepage {
    display: block;

}

tei-trailer {
    
    display: block;
    text-align: center;
    
}

#sba1 {
    border-bottom: 1px solid #999;
    padding-bottom: 2em;
    
}


#sba2 {
    border-bottom: 1px solid #999;
    padding-bottom: 2em;
    
}



tei-opener {
    
    display: block;
    text-align: center;
    margin-bottom: 2em;
}


